/* ---------------- */
/* COMPONENT STYLES */
/* ---------------- */

/***********************************/
/* BELOW 1200px */
/***********************************/

@media screen and (max-width: 1200px) {
  .nav-container {
    padding: 57px 32px 0;
  }
  .bannar-content {
    max-width: 472px;
  }

  .bannar {
    gap: 50px;
  }

  .card-1 {
    top: 29%;
    right: -5%;
    padding: 17px 24px;
  }

  .card-2 {
    bottom: 10%;
    left: -5%;
  }

  .habits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 32px;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 32px;
  }

  .exercise-image {
    grid-template-columns: 214px 460px 254px;
  }

  .training-image {
    grid-template-columns: 371px 253px 304px;
  }

  .training-container {
    margin: 100px 32px 88px;
  }

  .bmi-items {
    gap: 150px;
    margin: 0 32px;
  }

  .footer-container {
    margin: 0 32px;
  }

  .footer-links {
    gap: 90px;
  }
}

/* Tablet */

@media screen and (max-width: 992px) {
  .nav-container {
    padding: 52px 30px;
    margin: 0;
  }

  .nav-container ul {
    gap: 20px;
  }

  .bannar {
    flex-direction: column;
    gap: 100px;
  }

  .card-1 {
    top: 10%;
    right: -11%;
  }

  .card-2 {
    bottom: 22%;
    left: -15%;
  }

  .habits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 88px;
  }

  .habit-container {
    margin: 100px auto 84px;
  }

  .extra-container {
    margin: 0 30px;
    gap: 68px;
  }

  .extra-image img {
    max-width: 100%;
  }

  .btn--extra {
    display: block;
    text-align: center;
  }

  .limit-container {
    margin: 72px 30px;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .exercise-image {
    /* grid-template-columns: 214px 259px 211px; */
    grid-template-columns: 1fr 1fr 1fr;
  }

  .training-container {
    margin: 72px 30px 70px;
  }

  .training-image {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text--1 {
    left: 13px;
    top: 102px;
  }

  .text--2 {
    left: 19px;
    top: 15px;
  }

  .text--3 {
    left: 10px;
    top: 100px;
  }

  .text--4 {
    left: 13px;
    top: 110px;
  }

  .text--5 {
    left: 10px;
    top: 115px;
  }

  .text--6 {
    left: 10px;
    top: 117px;
  }

  .bmi-details {
    margin: 0 30px 46px;
  }

  .bmi-items {
    flex-direction: column;
    margin: 0 30px;
    gap: 62px;
  }

  table {
    margin-top: 46px;
  }

  .team-container {
    margin: 72px 30px 76px;
  }

  .team-details {
    margin: 0 auto 54px;
  }

  .footer-container {
    flex-direction: column;
    gap: 102px;
    margin: 0 30px;
    padding: 66px 0 71px;
  }

  .footer-links {
    gap: 152px;
  }
}

/* Mobile */

@media screen and (max-width: 576px) {
  .nav-container {
    padding: 52px 20px;
    margin: 0;
  }

  .nav-container ul {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .bannar {
    flex-direction: column;
    gap: 48px;
    padding: 0 20px;
  }

  .bannar-content h1 {
    max-width: 285px;
    font-size: 36px;
  }

  .bannar-content p {
    max-width: 274px;
  }

  .bannar-img img {
    width: 100%;
  }

  .card-1 {
    top: 8%;
    right: 0%;
    padding: 12px 18px;
  }

  .card-1 h4 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 3px;
  }

  .card-1 p {
    font-size: 10px;
    line-height: 15px;
  }

  .card-2 {
    bottom: 40%;
    left: 0%;
    padding: 15px;
  }

  .card-2 h4 {
    font-size: 19px;
    line-height: 19px;
  }

  .card-2 p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  .card-2 .ellipse {
    width: 30px;
    height: 30px;
  }

  .habit-container {
    padding: 0 10px;
    margin: 0 20px;
  }

  .habits {
    display: flex;
    flex-direction: column;
  }

  .habit {
    padding: 0 52px;
  }

  .extra-container {
    flex-direction: column;
    margin: 66px 20px;
    padding: 33px 35px;
    gap: 31px;
  }

  .btn--extra {
    display: block;
    text-align: center;
  }

  .extra-image img {
    max-width: 100%;
  }

  .limit-container {
    margin: 66px 20px;
    padding: 0 10px;
  }

  .services {
    display: flex;
    flex-direction: column;
  }

  .training-container {
    margin: 66px 20px 32px;
  }

  .training-details {
    margin-bottom: 37px;
  }

  .text--1 {
    left: 11px;
    top: 175px;
  }

  .text--2 {
    left: 11px;
    top: 130px;
  }

  .text--3 {
    left: 11px;
    top: 135px;
  }

  .text--4 {
    left: 11px;
    top: 135px;
  }

  .text--5 {
    left: 11px;
    top: 172px;
  }

  .text--6 {
    left: 11px;
    top: 175px;
  }

  .exercise-image {
    grid-template-columns: 1fr;
  }

  .training-image {
    grid-template-columns: 1fr;
  }

  .bmi-frame {
    padding: 34px 0 43px;
  }

  .bmi-items {
    flex-direction: column;
    margin: 0 20px;
    gap: 42px;
  }

  .bmi-details {
    margin: 0 20px 32px;
    height: 100%;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    max-width: 100%;
  }

  .team-container {
    margin: 66px 20px;
  }

  .team-details {
    margin: 0 auto 37px;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
    padding: 44px 0 72px;
    margin: 0 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .bannar-img img {
    width: 100%;
  }

  .card-1 {
    top: 30%;
    right: 5%;
  }

  .card-2 {
    bottom: 14%;
    left: 7%;
  }

  .habit {
    padding: 0;
  }
}
